@media screen and (min-width: 2550px) {

    .header {
        height: 90px;
    }

    .logo__svg {
        width: 50px;
    }

    .menu__icon {
        width: 75%;
        height: 28px;
    }

    .menu.open .menu__line--1 {
        top: 12px;
    }

    .menu.open .menu__line--3 {
        bottom: 12px;
    }

    .main__inner {
        max-width: 2000px;
    }

    .footer {
        max-width: 2000px;
        height: 120px;
    }

    .social-icon__svg {
        width: 30px;
    }

}

@media screen and (max-width: 1599px) {

    .logo__svg {
        width: 40px;
    }

    .menu__icon {
        width: 55%;
        height: 21px;
    }

    .menu.open .menu__line--1 {
        top: 9px;
    }

    .menu.open .menu__line--3 {
        bottom: 9px;
    }

    .nav__item {
        font-size: 1.6vmax;
    }

    .wall__h2 {
        font-size: 3.4vmax;
    }

    .wall__h3 {
        font-size: 2.1vmax;
    }

    .wall__btn {
        font-size: 2.1vmax;
    }

    .about__h2 {
        font-size: 3.6vmax;
    }

    .about__p {
        font-size: 1.6vmax;
    }

    .work__h2 {
        font-size: 3.4vmax;
    }

    .work__btn {

        font-size: 2vmax;

    }

}

@media screen and (max-width: 1199px) {

    .nav {
        width: 40%;
    }

    .nav__item {
        font-size: 2vmax;
    }

    .wall__h2 {
        font-size: 4vmax;
    }

    .wall__h3 {
        font-size: 2.55vmax;
    }

    .wall__btn {
        font-size: 2.55vmax;
    }

    .wall__hacker {
        width: 110%;
        background-position: 100% bottom;
        background-size: auto 90%;
    }

    .about__inner {
        flex-direction: column;
        padding: 8vh 10vw;
    }

    .about__h2 {
        font-size: 5vmax;
    }

    .about__text {
        align-self: center;
        padding-top: 8vh;
    }

    .about__p {
        font-size: 2.1vmax;
    }

    .work__h2 {
        font-size: 4vmax;
    }

    .work__btn {

        font-size: 2.25vmax;

    }

    .social-icon__svg {
        width: 23px;
    }

}

@media screen and (max-width: 767px) {

    .nav {
        width: 100%;
    }

    .nav__item {
        font-size: 2.5vmax;
    }

    .wall__h2 {
        font-size: 4.5vmax;
    }

    .wall__h3 {
        font-size: 3vmax;
    }

    .wall__btn {
        font-size: 3vmax;
    }

    .wall__hacker {
        width: 200%;
        background-position: bottom;
        background-size: auto 90%;
    }

    .viewport.blacken {
        background-color: rgba(1, 0, 5, 0.8);
    }

    .about__h2 {
        font-size: 5.2vmax;
    }

    .about__p {
        font-size: 2.4vmax;
    }

    .work__project {
        flex-direction: column;
    }

    .work__h2 {
        font-size: 4.5vmax;
    }

    .work__img-container {
        margin-top: 15%;
    }

    .work__btn {
        font-size: 2.6vmax;
    }

}

@media screen and (max-width: 425px) {

    .header {
        height: 55px;
    }

    .logo__svg {
        width: 35px;
    }

    .menu__icon {
        width: 50%;
        height: 19px;
    }

    .menu.open .menu__line--1 {
        top: 8px;
    }

    .menu.open .menu__line--3 {
        bottom: 8px;
    }

    .nav__item {
        font-size: 3.4vmax;
    }

    .wall__h2 {
        font-size: 5.5vmax;
    }

    .wall__h3 {
        font-size: 3.8vmax;
    }

    .wall__btn {
        font-size: 3.8vmax;
    }

    .about__h2 {
        font-size: 5.8vmax;
    }

    .about__p {
        font-size: 3.4vmax;
    }

    .arrow {
        height: 45px;
        width: 45px;
    }

    .arrow__line {
        width: 59.2%;
    }

    .work__h2 {
        font-size: 5.4vmax;
    }

    .work__btn {
        font-size: 3.6vmax;
    }

    .work__img {
        width: 85%;
    }

    .work__img-container:before {
        width: 80%;
        height: 94%;
    }

    .social-icon__svg {
        width: 20px;
    }
}
